body{
    background: #fff;
    color: $font-color;
    font-size: 14px;
    font-family: $main-font;
    font-weight: 400;
}

a{
	text-decoration: none;
	color: $theme-color;
	transition: color 0.5s ease;

}
img{
    max-width: 100%;
    height: auto;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n2f6ev');
  src:  url('../fonts/icomoon.eot?n2f6ev#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n2f6ev') format('truetype'),
    url('../fonts/icomoon.woff?n2f6ev') format('woff'),
    url('../fonts/icomoon.svg?n2f6ev#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}

button,
a.btn,
.btn{
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	background: $font-color;
	font-family: $header-font;
	color: $theme-color;
    font-weight: 400;
    line-height: 1.4;
	text-transform: uppercase;
	border: 1px solid $font-color;
	outline: none;
	white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
	font-size: 20px;
	
	&:hover{
		color: $font-color;
		background: $theme-color;
		border-color: $theme-color;
		transition: background 1s ease;
	}
}

